extends ../layouts/default
block title
  title Projects
block link
  - var selected = 'Projects'
block content
  .table-responsive
    table.table.table-condensed
      thead
        tr
          th #
          th Name
          th Short Description
          th Created
          th Updated
          th Delete
      tbody
        for project, index in projects
          tr
            td= index + 1
            td: a(href="/projects/#{project.id}")=project.name
            td
              - var desc = project.description.substr(0, 20)
              = desc
              if desc.length == 20
                ='...'
            td= user.createdAt.toLocaleDateString()
            td= user.updatedAt.toLocaleDateString()
            td: form(method='post' action="/projects/#{project.id}")
              input(type='hidden' name='_method' value='delete')
              button.btn.btn-danger(type='submit') Delete

  .text-center
    a.btn.btn-success(role='button' href='/projects/new') Add new